*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

.foto {

}

.boxI {
    margin: 60px;
    padding: 60px;
}

div a {
    display:inline-block;
    padding: .5rem;
    margin: .5rem;
    text-decoration: none;
    width: 15rem;
    text-align: center;
    border: .5rem solid #0f0f0fcc;
    border-radius: 20rem;
    background-color: #fff;
}

.boxIi {
    margin: 60px;
    padding: 60px;
}

.boxIii {
    margin: 60px;
    padding: 60px;
}

.boxIv{ 
    margin: 60px;
    padding: 60px;
}

form {
    margin: 60px;
    padding: 60px;
    display: flexbox;
    justify-content: center;
}

h1 {
    margin: 40px;
    padding: 40px;
    text-align: center;
}

.hab {
    height: 100px;
    text-align: center;
}

.bot {
    text-align: center;
}

.bot a {
    display:inline-block;
    padding: .5rem;
    margin: .5rem;
    text-decoration: none;
    width: 15rem;
    text-align: center;
    border: .5rem solid #0f0f0fcc;
    border-radius: 20rem;
    background-color: #fff;
}

.leng {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    margin: 30px;
    padding: 30px;
}

ul li {
    list-style: none;
    display: inline;
}

li a img {
    width: 35px;
    height: 35px;
}

#parrafo {
    display: grid;
    grid-auto-flow: dense ;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    text-align: center;
    border: 0.5rem solid #0f0f0fcc;
    border-radius: 2.5rem;
    background-color: #fff;
}

.botones2 {
        display:inline-block;
    padding: .5rem;
    margin: .5rem;
    text-decoration: none;
    width: 15rem;
    text-align: center;
    border: .5rem solid #0f0f0fcc;
    border-radius: 20rem;
    background-color: #fff;
}

footer {
    text-align: right;
    justify-content:baseline;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}